 <p><%= respuesta %></p>
 <p>Número de aciertos consecutivos: <%= aciertosConsecutivos %></p>
  <p><a href="/quizes/question">Intentelo otra vez</a></p>
  <p><a href="/quizes/estadisticas">Ver estadisticas de aciertos y fallos</a></p>