<table>
<tr><th>Usuarios Registrados</th></tr>
	<% var i; for (i=0; i < users.length; i++) { %>		
		<tr>
			<td><%= users[i].username %></td>
			<% if(session.user && session.user.username === 'admin' || session.user && session.user.id === users[i].id) { %>
				<td><a href="users/<%= users[i].id %>/edit"><button>editar</button></a></td>
			<% }%>
			<% if(session.user && session.user.username === 'admin') { %>
				<td><form method="post" action="/users/<%= users[i].id %>?_method=delete">
						<button type="submit" onClick="return confirm('Borrar: <%= users[i].username %>');">borrar
					</form>
				</td>
			<% }%>
		</tr>
	<% } %>
</table>